<p>Ana component</p>
<p>{{name |lowercase}}</p> <br>

<p>{{"test pipe deneme 123" |custom:1:10}}</p>
 
<input type="text"[value]="name"> <br>

<!-- Two Way Data Binding Örneği -->
<input type="text"[(ngModel)]="twoWayExample"> <br>
<p>{{twoWayExample}}</p>


<!-- ngFor Örneği -->
<ul>
    <li appExample color="blue" *ngFor="let array of arrays">{{array}}</li>
</ul>

<!-- ngIf Örneği -->
<div *ngIf="visible">Merhaba Furkan</div>

<!-- Custom direcitve tanımlama -->
<div *appCustomIf="false"> Custom If directive</div>


<!-- <app-home [pageName]="name"></app-home> -->

<app-parent></app-parent>
<hr>
<app-parent2></app-parent2>